<!--The content below is only a placeholder and can be replaced.-->
<html>
  <head>
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="favicon.ico" alt="logo" style="width:30px;"></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a routerLink="/app-mainpage" [routerLinkActive]="'active fluffy'">Main Page</a></li>
            <li><a routerLink="/app-user" [routerLinkActive]="'active fluffy'">User</a></li>
            <li><a routerLink="/signup" [routerLinkActive]="'active fluffy'">Sign Up</a></li>
            <li><a routerLink="/modelform" [routerLinkActive]="'active fluffy'">ModelForm</a></li>
            <li><a routerLink="/service" [routerLinkActive]="'active fluffy'">Service</a></li>
            <li><a routerLink="/displayMaintainance" [routerLinkActive]="'active fluffy'">Display Maintainance</a></li>
            <li><a routerLink="/Modal" [routerLinkActive]="'active fluffy'">Modal</a></li>
          </ul>
        </div>
      </nav>

    
<router-outlet></router-outlet>
<!--<app-user></app-user>-->